// solid
$solid-white: #FFFFFF;
$solid-dark: #333333;
$solid-gray: #CCCCCC;
$solid-deepgray: #ABABAB;
$solid-shallowgray: #EEEEEE;

// pastel
$pastel-red: #EC8385;

// cave
$cave-gray: #FDFDFD;
$cave-red: #FFEFF0;
