.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}