@for $i from 1 through 20 {
  $size: $i * 5px;
  
  .m-#{$i} {
    margin: calc($size);
  }
  .mt-#{$i} {
    margin-top: calc($size);
  }
  .mb-#{$i} {
    margin-bottom: calc($size);
  }
  .ml-#{$i} {
    margin-left: calc($size);
  }
  .mr-#{$i} {
    margin-right: calc($size);
  }

  .p-#{$i} {
    padding: calc($size);
  }
  .pt-#{$i} {
    padding-top: calc($size);
  }
  .pb-#{$i} {
    padding-bottom: calc($size);
  }
  .pl-#{$i} {
    padding-left: calc($size);
  }
  .pr-#{$i} {
    padding-right: calc($size);
  }

  .gap-#{$i} {
    gap: calc($size);
  }
}
